* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

html {
  font-size: 80%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41.4rem;
  margin: 0 auto;
}

.avatar-container {
  width: 21.3rem;
  height: 21.3rem;
  border-radius: 50%;
  border: 2px solid var(--purple);
  margin: 12.0rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 20.9rem;
  border-radius: 50%;
}

.main-socialnetwork {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 3.3rem;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgb(172, 77, 209);
}

.main-socialnetwork a {
  text-decoration: none;
  color: var(--purple);
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
}

.links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.6rem;
  height: 4.9rem;
  margin-bottom: 1.6rem;
  border: 2px solid var(--purple);
  border-radius: 10px;
  color: var(--purple);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  box-shadow: 2px 5px 10px rgb(172, 77, 209);
}

.social-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 1.5rem 0;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgb(172, 77, 209);
}